@layer components {
  .navZone {
    position: absolute;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;

    width: var(--nav-w);
    height: var(--nav-h);
    top: var(--nav-top);
    transform: var(--nav-transform);
    background-color: var(--nav-bg);
    opacity: var(--nav-opacity);
    pointer-events: var(--nav-pointer);
    transition: var(--nav-transition);

    &:focus-visible {
      background-color: rgba(0, 0, 0, 0.5);
    }
  }

  .navZoneL {
    left: var(--nav-offset);
  }

  .navZoneR {
    right: var(--nav-offset);
  }

  .navButton {
    width: var(--nav-size-w);
    height: var(--nav-size-h);
    border-radius: var(--nav-radius);
    background-color: var(--nav-btn-bg);
    color: rgba(245, 245, 245, 0.807);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    user-select: none;
    pointer-events: none;

    svg {
      opacity: 0.8;
    }
  }
}
