.container_PW {
  --dot-color: var(--color-secondary-global);
  --dot-active-color: var(--color-global);

  --anim-style: cubic-bezier(0.25, 1, 0.5, 1);
  --duration-move: var(--duration, 300ms);
  --duration-scale: calc(var(--duration-move) * 1.15);
  --duration-opacity: calc(var(--duration-move) * 0.8);
  --duration-color: calc(var(--duration-move) * 0.9);

  --dot-size: 24px;
  --dots-gap: 30px;
  --visible-dots-count: 5;
  --widget-padding-inline: 25px;
  --widget-padding-block: 13px;
  --widget-height: calc(var(--dot-size) + (var(--widget-padding-block) * 2));

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(
    (var(--visible-dots-count) * var(--dot-size)) +
      ((var(--visible-dots-count) - 1) * var(--dots-gap)) +
      (var(--widget-padding-inline) * 2)
  );
  height: var(--widget-height);
  border: 1px solid rgb(from var(--border-global) r g b / 0.4);
  border-radius: calc(var(--widget-height) / 2);
  overflow: hidden;
  transition: width 0.3s ease;
  contain: paint;
}

.dot_PW {
  position: absolute;
  top: calc(50% - (var(--dot-size) / 2));
  left: calc(50% - (var(--dot-size) / 2));
  width: var(--dot-size);
  height: var(--dot-size);
  border-radius: 50%;
  background-color: var(--dot-color);
  transition:
    translate var(--duration-move) var(--anim-style),
    scale var(--duration-scale) var(--anim-style),
    opacity var(--duration-opacity) ease-out,
    background-color var(--duration-color) var(--anim-style),
    box-shadow var(--duration-color) var(--anim-style);
  transition-delay: var(--delay, 0ms);
  translate: var(--dot-x, 0) 0;
  scale: var(--dot-scale, 1);
  opacity: var(--dot-opacity, 1);
  will-change: translate, scale, opacity;
  backface-visibility: hidden;
}

.dotActive_PW {
  z-index: 2;
  background-color: var(--dot-active-color);
  box-shadow: 0 0 8px 1px var(--dot-active-color);
}

.freezed .dot_PW,
.freezed.container_PW {
  transition: none !important;
}
